<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <header>
        Incomplete Tasks
    </header>
    
    <section>
        {% for task in tasks %}
            {% if not task.completion_status %}
                <ul>
                    {{ task.item }}
                    <form action="{% url 'outstanding_tasks' %}" method = "POST">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <button type="submit">Mark complete</button>
                    </form>               
                </ul>
            {% endif %}
        {% endfor %}

    </section>
    
    <aside>
        <!-- Sidebar content here -->
    </aside>
    
    <footer>
        <!-- Footer content here -->
    </footer>
</body>
</html>
